doctype(html)
html
    head
        meta(charset="utf-8")

        title= title

        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")

        link(rel="stylesheet", href="/css/vender.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/core.min.css")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Astro
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(class=(currentPath === '/browse' ? 'active' : ''))
                            a(href="/browse") Browse
                        li(class=(currentPath === '/about' ? 'active' : ''))
                            a(href="/about") About
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#", data-toggle="modal", data-target="#settingsModal") Settings #[span.caret]
        block content
        .footer.text-center
            | &copy; #[a(href="https://github.com/bitcannon-org/astro/graphs/contributors") Astro Contributors]
        script(src="/js/vender.min.js")
        script(src="/js/core.js")
