doctype(html)
html
    head
        meta(charset="utf-8")
        
        title= title
        
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")

        link(rel="stylesheet", href="/css/vender.min.css")
        link(rel="stylesheet", href="/css/core.min.css")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand BitCannon
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li Browse
                        li About
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#", data-toggle="modal", data-target="#settingsModal") Settings #[span.caret]
        block content
        .container
            .alert.alert-warning.alert-dismissible(role="alert")
                button.close(type="button", aria-label="Close")
                    span(aria-hidden) &times;
                    | #[strong Warning: ] #{message}
